body {
	background: #fff;
	color: $color-grey3;
	font-family: $font-sans-serif;
	font-size: 16px;
	position: relative;
	overflow-x: hidden;

	&:after,
	&:before {
		background: $brand-color;
		content: '';
		display: block;
		height: 19px;
		position: absolute;
		width: 19px;
	}

	&:before {
		left: 0;
		top: 0;
	}

	&:after {
		right: 0;
		bottom: 0;
	}

	.menu--open {
		overflow: hidden;
	}

	&.work {
		&:before {
			@include visuallyhidden();
		}
	}
}

main {
	@include clearfix();
	position: relative;
	z-index: $index-main;
}

svg {
	defs {
		@include visuallyhidden();
	}

	> text {
		display: none;
	}
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: 0;
}

.brand--message {
	color: $color-grey1;
	font-size: pixel-to-em(12px);
	padding: 0 0 42px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	&.absolute {
		padding: 60px 0;
		position: absolute;
		top: 0;
	}

	@media screen and (min-width: $min-medium) {
		padding-left: 72px;
		text-align: left;
	}
}

.mobile-only {
	@media screen and (min-width: $min-medium) {
		@include visuallyhidden();
	}
}

.ada-hidden,
.dom-hidden {
	@include visuallyhidden();
}

.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
	will-change: opacity;
}
