* {
	margin: 0;
	padding: 0;
}

html, body {
	background: #fff;
	color: #000;
	font-family: $font-sans-serif;
	font-size: 12px;
}

main {
	position: relative;
	z-index: $index-main;
}

svg {
	> def,
	text {
		display: none;
	}
}

button {
	background: none;
	border: none;
	cursor: pointer;
	outline: 0;
}
