footer {
	padding: 200px 0;
	text-align: center;

	h4 {
		letter-spacing: .07em;
		text-transform: uppercase;
	}

	.contact--links {
		@include list-unstyled();

		a {
			letter-spacing: .07em;
			text-transform: uppercase;
			font-size: 30px;
		}

		li {
			display: block;
			margin: 120px 0;
		}
	}

}
