footer {
	padding: 100px 0 0;
	text-align: center;

	h4 {
		letter-spacing: .07em;
		margin-bottom: 100px;
		text-transform: uppercase;
	}

	.contact--links {
		@include list-unstyled();
		font-family: $font-theme-3;
		font-size: pixel-to-em(30px);
		letter-spacing: .07em;

		a {
			text-transform: uppercase;
		}

		li {
			display: block;
			margin: 0 0 125px;
		}

		@media (min-width: $min-medium) {
			@include list-inline();
			margin: 0 -20px;

			li {
				padding: 0 20px;

				&:after {
					display: inline-block;
					content: '/';
					margin-left: 35px;
				}

				&:last-child:after {
					display: none;
				}
			}
		}
	}
}
