header {
	margin: 0 60px 75px;
	position: relative;

	#cvo-logo {
		margin-left: 0;
		z-index: $index-logo;
	}

	@media (min-width: $min-medium) {
		@include clearfix();
		
		padding-top: 115px;

		#cvo-logo {
			float: left;
		}
	}
}
