header {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 85px 55px 0;
	position: relative;

	#cvo--logo {
		width: 156px;
	}

	.menu--toggle {

	}

	@media (min-width: $min-medium) {
		padding: 58px 72px 0;
		align-items: flex-end;
		justify-content: flex-end;
	}
}

#cvo--logo {
	margin-left: 0;
	max-width: 84px;
	min-width: 84px;
	z-index: $index-logo;

	svg {
		fill: #EF4823;
	}

	img {
		@include full-width();
	}

	a:after {
		@include visuallyhidden();
	}

	@media (min-width: $min-medium) {
		align-self: flex-start;
		max-width: 125px;
		min-width: 125px;
	}
}
