blockquote {
	color: $color-grey3;
	font-family: $font-theme-2;
	font-size: pixel-to-em(30px);
	margin: 40px 15% 120px;
	text-align: center;

	@media (min-width: $min-medium) {
		font-size: pixel-to-em(43px);
		margin-left: 72px;
		margin-right: 72px;
		text-align: left;

		@include roman-numeral('i');
	}
}

.featured {
	@include clearfix();
	background: $color-grey2;
	display: flex;
	flex-direction: column;
	padding: 50px 72px;

	h5 {
		@include roman-numeral('ii');
		color: $color-grey3;
		margin-bottom: 36px;
		text-transform: uppercase;
	}

	figure {
		margin: 0;
	}

	img {
		@include full-width();
	}

	.featured--projects {
		@include clearfix();
		margin: 0 -14px;

		figcaption {
			color: #aaa;
			font-size: pixel-to-em(14px);
			line-height: 21px;
			padding-bottom: 15px;
			padding-top: 15px;
			text-align: right;
		}

		.project {
			margin: 0 25% 0 14px;
		}

		.project--row {
			.project {
				float: left;
				margin-left: 14px;
				margin-right: 14px;
				width: 47%;
				width: calc(50% - 28px);
			}
		}
	}

	@media (max-width: $max-medium) {
		@include visuallyhidden();
	}
}

.collaborators {
	background: $color-grey2;
	padding: 47px 0 150px;
	text-align: center;

	h5 {
		color: $color-grey3;
		margin-bottom: 47px;
		text-transform: uppercase;
	}

	ul {
		@include list-unstyled();
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -30px;

		li {
			width: calc(50% - 60px);
			padding: 0 30px 64px;

			img {
				@include full-width();
			}
		}
	}

	@media (min-width: $min-medium) {
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 110px 0;
		text-align: left;

		h5 {
			margin-left: 72px;
			margin-right: 72px;
			@include roman-numeral('iii');
		}

		ul {
			margin-left: 72px;
			margin-right: 72px;

			li {
				width: calc(25% - 60px);
			}
		}
	}
}

.cta--work {
	color: $color-grey3;
	display: inline-block;
	font-size: pixel-to-em(13px);
	letter-spacing: .07em;
	padding: 80px 0;
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background 200ms ease-out;

	&:after {
		background: transparent;
		border-right: solid 2px $color-grey3;
		border-top: solid 2px $color-grey3;
		content: '';
		display: inline-block;
		display: inline-block;
		height: 10px;
		position: relative;
		right: -20px;
		top: -20px;
		width: 10px;
	}

	@media (min-width: $min-medium) {
		background: $color-grey2;
		font-size: pixel-to-em(15px);
		margin: 0 -72px;

		&:hover {
			background: #f45701;
			color: #fff;

			&:after {
				border-color: #fff;
			}
		}
	}
}
