blockquote {
	color: $color-grey3;
	font-family: $font-theme-2;
	font-size: pixel-to-em(55px);
	margin: 150px 15% 300px;
	text-align: center;

	@media (min-width: $min-medium) {
		font-size: pixel-to-em(70px);
		text-align: left;
	}
}

.collaborators {
	background: $color-grey2;
	padding: 100px 15% 200px;
	text-align: center;

	h3 {
		letter-spacing: .07em;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	ul {
		@include list-unstyled();
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -30px;

		li {
			width: calc(50% - 60px);
			padding: 60px 30px;

			img {
				@include full-width();
			}
		}

		@media (min-width: $min-medium) {
			li {
				width: calc(50% - 120px);
				padding: 60px 60px;
			}
		}
	}


	.cta--work {
		color: $color-grey3;
		display: inline-block;
		font-size: pixel-to-em(30px);
		letter-spacing: .07em;
		margin: 80px auto 0;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:before {
			border-right: solid 2px $color-grey3;
			border-top: solid 2px $color-grey3;
			content: '';
			display: block;
			height: 16px;
			position: absolute;
			right: -60px;
			top: -20px;
			width: 16px;
		}
	}
}
