blockquote {
	color: $color-grey3;
	font-family: $font-theme-2;
	font-size: pixel-to-em(30px);
	margin: 150px 15% 120px;
	text-align: center;

	@media (min-width: $min-medium) {
		font-size: pixel-to-em(70px);
		margin-left: 144px;
		margin-right: 144px;
		text-align: left;

		@include roman-numeral(1);
	}
}

.featured {
	@include clearfix();
	padding: 50px 140px;

	h5 {
		@include roman-numeral(2);
		color: $color-grey3;
		text-transform: uppercase;
	}

	figure {
		margin: 0;
	}

	img {
		@include full-width();
	}

	.featured--projects {
		margin: 0 -14px;

		.project {
			margin: 14px;
		}

		.project--row {
			.project {
				float: left;
				width: 47%;
				width: calc(50% - 28px);
			}
		}
	}

	@media (max-width: $max-medium) {
		@include visuallyhidden();
	}
}

.collaborators {
	background: $color-grey2;
	padding: 47px 0 150px;
	text-align: center;

	h5 {
		color: $color-grey3;
		margin-bottom: 47px;
		text-transform: uppercase;
	}

	ul {
		@include list-unstyled();
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -30px;

		li {
			width: calc(50% - 60px);
			padding: 0 30px 64px;

			img {
				@include full-width();
			}
		}
	}

	.cta--work {
		color: $color-grey3;
		display: inline-block;
		font-size: pixel-to-em(13px);
		letter-spacing: .07em;
		margin: 80px auto 0;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;

		&:before {
			border-right: solid 2px $color-grey3;
			border-top: solid 2px $color-grey3;
			content: '';
			display: block;
			height: 10px;
			position: absolute;
			right: -60px;
			top: -20px;
			width: 10px;
		}
	}

	@media (min-width: $min-medium) {
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 100px 140px 200px;
		text-align: left;

		h3 {
			@include roman-numeral(3);
		}

		ul li {
			width: calc(25% - 60px);
		}
	}
}
