nav {
	background: rgba(0, 0, 0, .8);
	left: 0;
	min-height: 100vh;
	position: fixed;
	top: 0;
	transition: all 500ms;
	transition-timing-function: ease-out;
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	width: 30%;
	z-index: $index-menu;
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);

	.menu-open & {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}
