@mixin generate-headings() {
	@each $heading, $map in $headings-obj {
		#{$heading} {
			@each $property, $value in map-get($headings-obj, $heading) {
				#{$property}: $value;
			}
		}
	}
}

@include generate-headings();

a {
	color: $color-grey3;
	line-height: .8;
	position: relative;
	text-decoration: none;

	&:after {
		background: $color-grey3;
		bottom: -5px;
		content: '';
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		transition: all 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
		width: 0;
	}

	&:hover {
		&:after {
			left: 0;
			width: 100%;
		}
	}
}
