@font-face {
	font-family: 'montserrat-light';
	src: url('fonts/montserrat-light.woff2') format('woff2'),
		url('fonts/montserrat-light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'montserrat-regular';
	src: url('fonts/montserrat-regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'montserrat-hairline';
	src: url('fonts/montserrat-hairline.woff2') format('woff2'),
		url('fonts/montserrat-hairline.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

$brand-color: #f45701;
$color-grey1: #aeaeae;
$color-grey2: #f5f5f5;
$color-grey3: #252525;

// Type
$font-theme-1: 'montserrat-light', Arial, sans-serif;
$font-theme-2: 'montserrat-hairline', Arial, sans-serif;
$font-theme-3: 'montserrat-regular', Arial, sans-serif;

$font-serif: serif;
$font-sans-serif: $font-theme-1;

$headings-obj: (
	h1: (
		color: $color-grey3,
		font-family: $font-theme-1,
		font-size: pixel-to-em(30px),
		font-weight: bold,
		line-height: 1.8,
		letter-spacing: .07em
	),
	h2: (
		color: $color-grey3,
		font-family: $font-theme-1,
		font-size: pixel-to-em(26px),
		font-weight: bold,
		line-height: 1.8,
		letter-spacing: .07em
	),
	h3: (
		color: $color-grey3,
		font-family: $font-theme-1,
		font-size: pixel-to-em(20px),
		font-weight: bold,
		line-height: 1.8,
		letter-spacing: .07em
	),
	h4: (
		color: $color-grey3,
		font-family: $font-theme-1,
		font-size: pixel-to-em(16px),
		font-weight: bold,
		line-height: 1.8,
		letter-spacing: .07em
	),
	h5: (
		color: $color-grey3,
		font-family: $font-theme-1,
		font-size: pixel-to-em(9px),
		font-weight: bold,
		line-height: 1.8,
		letter-spacing: .07em
	)
);

// Layering
$index-menu-toggle: 4;
$index-menu: 3;
$index-logo: 2;
$index-main: 1;

// Toggle menu
$toggle-width: 24px;
$toggle-height: 18px;
$toggle-menu-weight: 2px;
$toggle-menu-radius: 0;

// ~ 320px, 500px, 740px, 960px, 1200px
$breakpoints-min: (
   xsmall: 20em,
   small: 31.25em,
   medium: 46.25em,
   large: 60em,
   xlarge: 75em
);

$breakpoints-max: (
   xsmall: (map-get($breakpoints-min, small) - 1),
   small: (map-get($breakpoints-min, medium) - 1),
   medium: (map-get($breakpoints-min, large) - 1),
   large: (map-get($breakpoints-min, xlarge) - 1)
);

$min-xsmall			: map-get($breakpoints-min, xsmall);
$min-small			: map-get($breakpoints-min, small);
$min-medium			: map-get($breakpoints-min, medium);
$min-large			: map-get($breakpoints-min, large);
$min-xlarge			: map-get($breakpoints-min, xlarge);

$max-xsmall			: ($min-small - 1);
$max-small			: ($min-medium - 1);
$max-medium			: ($min-large - 1);
$max-large			: ($min-xlarge - 1);

.xs-screen,
.sm-screen,
.med-screen,
.lg-screen,
.xl-screen,
.xs-screen-inline,
.sm-screen-inline,
.med-screen-inline,
.lg-screen-inline,
.xl-screen-inline, {
	display: none !important;
}

.xs-screen {
	@media (max-width: $max-xsmall) {
		@include responsive-visible();
	}
}

.sm-screen {
	@media (min-width: $min-small) and (max-width: $max-small) {
		@include responsive-visible();
	}
}

.med-screen {
	@media (min-width: $min-medium) and (max-width: $max-medium) {
		@include responsive-visible();
	}
}

.lg-screen {
	@media (min-width: $min-large) and (max-width: $max-large) {
		@include responsive-visible();
	}
}

.xl-screen {
	@media (min-width: $min-xlarge) {
		@include responsive-visible();
	}
}

.xs-screen-inline {
	@media (max-width: $max-xsmall) {
		@include responsive-visible-inline();
	}
}

.sm-screen-inline {
	@media (min-width: $min-small) and (max-width: $max-small) {
		@include responsive-visible-inline();
	}
}

.med-screen-inline {
	@media (min-width: $min-medium) and (max-width: $max-medium) {
		@include responsive-visible-inline();
	}
}

.lg-screen-inline {
	@media (min-width: $min-large) and (max-width: $max-large) {
		@include responsive-visible-inline();
	}
}

.xl-screen-inline {
	@media (min-width: $min-xlarge) {
		@include responsive-visible-inline();
	}
}

.hidden-xs {
	@media (max-width: $max-xsmall) {
		@include responsive-hidden();
	}
}
.hidden-sm {
	@media (min-width: $min-small) and (max-width: $max-small) {
		@include responsive-hidden();
	}
}
.hidden-md {
	@media (min-width: $min-medium) and (max-width: $max-medium) {
		@include responsive-hidden();
	}
}
.hidden-lg {
	@media (min-width: $min-large) and (max-width: $max-large) {
		@include responsive-hidden();
	}
}
.hidden-xl {
	@media (min-width: $min-xlarge) {
		@include responsive-hidden();
	}
}
