<nav class="mobile--nav">
	<header>
		<div id="cvo--logo">
			<a href="index.html">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.4 46.6">
					<title>CVo</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#cvo-logo"></use>
				</svg>
			</a>
		</div>

		<button class="menu--toggle" type="button">
			<div class="menu--toggle--wrapper">
				<div class="menu--toggle--icon"></div>
			</div>
		</button>
	</header>

	<ul class="nav--links">
		<li><a href="work.html">work</a></li>
		<li><a href="#">life</a></li>
		<li><a href="#">résumé</a></li>
	</ul>

	<ul class="contact--links">
		<li>
			<a href="mailto: cvo@christinevo.com">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 553.72 351.47">
					<title>email</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-email"></use>
				</svg>
			</a>
		</li>
		<li>
			<a href="//www.linkedin.com/in/christinevo" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.09 34.6">
					<title>linkedin</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-linkedin"></use>
				</svg>
			</a>
		</li>
		<li>
			<a href="//cvo.vsco.co" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102 102.2">
					<title>vsco</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-vsco"></use>
				</svg>
			</a>
		</li>
		<li>
			<a href="//www.facebook.com/cvollc" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 266.9 266.9">
					<title>instagram</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-facebook"></use>
				</svg>
			</a>
			<!-- //www.facebook.com/cvollc -->
		</li>
		<li>
			<a href="//twitter.com/christinevo" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.04 28.48">
					<title>twitter</title>
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-twitter"></use>
				</svg>
			</a>
		</li>
	</ul>

	<aside class="brand--message">
		Christine Vo // Digital + UX + Brand Designer
	</aside>
</nav>
